body {
    text-align: center;
    background-color: #570c0c;
    color: white;
}

a {
    text-decoration: none;
}

.navigation-bar {
    background-color: #191819;
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

.navigation-link {
    background-color: #570c0c;
    color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
}

.home-link {
    margin-right: auto;
}